doctype html
html
	head
		title Asset Tracking
		link(rel='stylesheet' href='/style.css')
	body
		div#title
			h1 Home of 'Asset Tracking'
		div#logIn
			h3#logInTitle Log In
			div#userName
				h6.logIn Username:
				input
			div#password
				h6.logIn Password:
				input
			button#submit Submit
